<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>New route goal</h1>
    </div>
    <div class="card-body">
      <%= render "form", route_goal: @route_goal %>
    </div>
  </div>
</div>
